<link rel="stylesheet" href="../../styles/components/footer.css" />
<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <div class="logo">
        <img src="../../assets/logo/company-logo.png" alt="Logo6    " />
        <h2>duapatdua tezla</h2>
      </div>
      <div class="socials">
        <a href="#"
          ><img src="../../assets/social/instagram.png" alt="Instagram"
        /></a>
        <a href="#"
          ><img src="../../assets/social/linkedin.png" alt="LinkedIn"
        /></a>
        <a href="#"
          ><img src="../../assets/social/github.png" alt="GitHub"
        /></a>
      </div>
    </div>
    <div class="footer-section contact">
      <h2>CONTACT US</h2>
      <p>dummyemail@gmail.com</p>
      <p>dummyemail@ins.edu.id</p>
      <p>Jl. Dummy St, Dummy City, Dummy Province, 12345</p>
    </div>
    <div class="footer-section subscribe">
      <h2>SUBSCRIBE</h2>
      <p>
        Enter your email to access and see our brand new product and updates.
      </p>
      <div class="subscribe-input">
        <input type="email" placeholder="Your E-Mail" />
        <button type="button">Subscribe</button>
      </div>
    </div>
  </div>
</footer>
