<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <script src="../controllers/loadComponents.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div id="navbar"></div>

    <div class="container">
      <div class="header">
        <div class="title">
          <p>Lorem ipsum dolor sit amet</p>
          <h1>Consectetur Adipi, Velit Dolore.</h1>
          <p>
            Dolores commodi explicabo, eveniet possimus adipisci voluptates
            minus dolor cupiditate neque
          </p>
        </div>
        <div class="carousel">
          <div class="carousel-container">
            <img src="../assets/cars/car1.png" alt="Main Car Image" />
            <img src="../assets/cars/car2.png" alt="Main Car Image" />
            <img src="../assets/cars/car3.webp" alt="Main Car Image" />
          </div>
        </div>
      </div>
      <div class="car-gallery">
        <img src="../assets/cars/car1.png" alt="Car Image 1" />
        <img src="../assets/cars/car1.png" alt="Car Image 2" />
        <img src="../assets/cars/car1.png" alt="Car Image 3" />
        <img src="../assets/cars/car1.png" alt="Car Image 4" />
      </div>
      <div class="bottom-section">
        <div class="stat">
          <img src="../assets/icon/trophy.png" alt="Trophy Icon" />
          <p>TOP #1 CAR IN THE WORLD.</p>
        </div>
        <div class="stat">
          <img src="../assets/icon/peoples.png" alt="People Icon" />
          <p>1,200,900 ACTIVE MEMBERS.</p>
        </div>
        <div class="stat">
          <img src="../assets/icon/thumb.png" alt="Thumb Icon" />
          <p>4.8 OVERALL RATING.</p>
        </div>
      </div>
    </div>

    <div id="footer"></div>
    <script src="../controllers/carousel.js"></script>
    <script src="../controllers/connector.js" defer></script>
  </body>
</html>
